.landingContainer {
    background-color: black;
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column
}

.landingContainer > div:first-child {
    margin-bottom: auto;
    visibility: hidden;
}
.landingContainer > div:last-child {
    margin-top: auto;
}  

.mainInfo {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkInfo {
    font-size: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkIcon {
    margin: 5px;
    color: white;
}

.linkIcon:active {
    color: whitesmoke;
    animation: bounce 1s infinite; 
}

.linkIcon:hover{
    color: rgb(85, 85, 219);;
    animation: bounce 1s infinite; 
}

.resumeLink:hover {
    color: whitesmoke;
    text-decoration: underline;
}

.resumeLink {
    text-decoration: none;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(85, 85, 219);
    text-align: center;
}

.resumeHolder {
    display: flex;
    justify-content: center;
    align-items: center;
}


.downHolder {
    font-size: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15vh;
    /* animation: bounceOcc 1s infinite;  */
}

.downHolder:hover {
    cursor: pointer;
}

@keyframes bounceOcc {
    0% { }
    10% { transform: translateY(-5px); }
    20% {transform: translateY(-0.1px);}
    100% { }
}

@keyframes bounce {
    0% { }
    50% { transform: translateY(-5px); }
    100% { }
}


body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;

}

.containerTitle {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

.aboutContainer {
    /* width: 100vw; */
    margin-top: 20px;
    margin-left: 7vw;
    margin-right: 7vw;

}

.aboutInfo {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}

.projectContainer {
    margin-top: 5vh;
    margin-bottom: 5vh;

    margin-left: 7vw;
    margin-right: 7vw;
}

.projectWrapper {
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: center;
    align-content: center;
}