

.projectHolder {
    border: 1px grey solid;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    width: 300px;
    height: 150px;
}

/* .projectHolder:after {
    content: "";
    position: absolute;
    top: -110%;
    left: -210%;
    width: 200%;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);
    
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
      to right, 
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0.13) 77%,
      rgba(255, 255, 255, 0.5) 92%,
      rgba(255, 255, 255, 0.0) 100%
    );
  }
  
  /* Hover state - trigger effect */
  
  .projectHolder:hover:after {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
  }
  
  /* Active state */
  
  .projectHolder:active:after {
    opacity: 0;
  } */

.projectImage {

}

.projectTitle {
    text-decoration: underline;
    font-size: 24px;
    margin: 3px;
}


.projectDescription {
    font-size: 18px;
    color: grey;
    margin: 3px;

}

.skillContainer {
    display: flex;
    justify-content: center;
    align-content: center;
}

.skill {
    font-size: 15px;
    color: grey;
    border-radius: 30px;
    border: 1px grey solid;
    padding: 5px;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;

}